$sub-color: #636b91;
$main-color: black;
$letter-spacing: 1px;

@mixin shrinkLabel {
  top: -1em;
  font-size: 1.1rem;
  letter-spacing: $letter-spacing;
  color: $main-color;
}
.group {
  position: relative;
  margin: 2.5em 0;

  .form-input {
    display: block;
    width: 100%;
    margin: 1.5em 0;
    padding: 10px 10px 10px 4px;
    background-color: white;
    color: $sub-color;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid $sub-color;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type="password"] {
    letter-spacing: $letter-spacing;
  }
}

.form-input-label {
  position: absolute;
  left: 5px;
  top: 10px;
  color: $sub-color;
  font-size: 1.3rem;
  font-weight: 800;
  letter-spacing: $letter-spacing;
  pointer-events: none;
  transition: 300ms ease all;

  &.shrink {
    @include shrinkLabel();
  }
}
