form {
  display: grid;
  gap: 1rem;
}

textarea,
input {
  width: 100%;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  outline-color: #2685ff;
}

label {
  color: #333;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.button {
  font-family: inherit;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  background-color: #eaeaea;
  border: none;
}

.button:hover {
  background-color: #2685ff;
  color: #fff;
  box-shadow: 3px 3px 5px grey;
}
