@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Wire+One&display=swap");

body {
  margin: 0;
  padding: 1rem 2rem;
  font-family: "Wire One", serif;
}

a {
  text-decoration: none;
  color: #000;
}
