.category-preview-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 30px;

  .title {
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;

    &:hover {
      color: #414d72;
    }
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .category-preview-container {
    .preview {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
